<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>connect shapes</title>
  <link rel="stylesheet" href="graffle.css" type="text/css" media="screen">
	<script src="js/jquery-1.5.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/raphael.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/underscore.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/backbone.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/backbone-localstorage.js" type="text/javascript" charset="utf-8"></script>
  <script src="color.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="color_picker">
    Name:<br/>
    <input type="text" class="name" value="orange"/>  <br/>
    Color:<br/>
    <input type="text" class="color" value="#e84"/> <br/>
    <a href="#" class="create">Add to Palette</a>
  </div>
  <div id="palette">
    <script type="text/template" id="color-template">
      <div class="color" style="width:100px;height:100px;font-weight:bold;padding:12px;margin:12px;float:left;background:<%= color %>;">
        Name: <%= name %>
        Color: <%= color %>
      </div>
    </script>
  </div>
</body>
</html>
